@charset "utf-8";

   .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

div {
	border: none;
}

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  border: none;
  position: relative;
  width:7%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 7%;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 250%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10% 15%;
  text-decoration: none;
  font-family: Calibri Light;
  font-weight: bolder;
  font-size: 1.5vw;
  text-align: center;
  display: block;
}

.dropdown-content a:hover {
	background-color: #bbdfde;
	color: grey;
	text-decoration: none;}

.dropbtn:hover{
  opacity: 0.7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

img#menu {
	width: 100%;
	height: auto;
}

h1#title{
	background-color: #55B1AE;
	color: white;
	width: 85%;
	float: left;
	text-align: center;
	font-family: Calibri Light;
	font-weight: bolder;
    font-size: 4.2vw;
	padding: 1%;
	border-radius:0 37px 37px 0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div#howToBook{
	float: left;
	width: 60%;
	font-size: 2vw;
	text-align: center;
    font-family: Calibri Light;
	margin-left: 3%;
	background-color: #a0d2d1;
	border-radius:30px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	color: white;
	font-weight: bolder;
}

p {line-height: 120%;
	padding-left: 2%;
	padding-right: 2%;
}

img#contact{
	float: left;
	margin-left: 5%;
	margin-right: 7%;
	width: 25%;
	height: auto;
	border-radius:30px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div#clientForm {
	margin-top: 5%;
	width: 100%;'
	background: no-repeat;
	background-image: url(images/AdobeStock_217781661_editByFinch.png);
	background-repeat: no-repeat;
    background-size: 100%;
}

form#clientInfo { 
		width: 100%;
		float: left;
		color: white;
		font-family: Calibri;
		font-size: 2vw;
		font-weight: bold;
		width: 100%;
		padding: 2%;
		margin-left: 6%;
        width: 100%;
}


label#title {
	width: 100%;
	font-size: 3vw;
	text-align: center;
    font-family: Calibri Light;
	font-weight: bolder ;
	margin-left: 30%;
}

label#email{
		margin-left: 26.5%;
}

label#many{
		margin-left: 23.4%;
}

label#idea{
		margin-left: 16%;
}

form#clientInfo > input {
	width: 40%;
	font-size: 2vw;
	font-family: Calibri Light;
	margin-bottom: 1%;
}
.leftCol {
margin-right: 20%;	
}
.rightCol {
	margin-left: 3%;
}

form#clientInfo > textarea {
	width: 50%;
  	font-size: 2vw;
	font-family: Calibri Light;
}

button#submit {
	font-size: 3vw;
	color: white;
	background: #55B1AE;
	border-radius: 10%;
	border-color: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	cursor: pointer;
	width: 15%;
	text-align: center;
    	font-family: Calibri Light;
	margin-left: 3%;
}	

#submit:hover {
  opacity: 0.7;
}

footer > a {
	   float: right;
}

.fa {
  padding: 2.5%;
  font-size: 3vw;
  width: 2.5%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #55B1AE;
  color: white;
}

/* Twitter */
.fa-instagram {
  background: #55B1AE;
  color: white;
  margin-right: 2%;
}
